section{
  background-color: red;
}

div{
  height: 1em;
  background-color: #616E7F;
  margin: .5em auto .5em auto;
}

footer{
  height: 2em;
  width: 7em;
  background-color: blue;
}

h1{
  color: white;
  font-size: 25px;
  font-weight: normal;
  margin: 3em 1em auto 1em;
  text-align: center;
}

h2{
  color: white;
  font-size: 16px;
  font-weight: normal;
  margin: 1em 2em auto 2em;
  text-align: center;
}

li{
  display: inline-block;
  margin: .5em;
}

.main-backing{
  background-color: #344051;
  padding: 3em 2em 2em 2em;
}

.top-bar{
  background-color: #1E8CBE;
  margin: 0em;
  width: 100%;
  height: 3em;
}

.top-logo{
  display: block;
  float: left;
  height: 2em;
  width: 2em;
  background-color: white;
  margin: .5em .5em .5em 1em;
}

.top-name{
  display: block;
  float: left;
  height: 1em;
  background-color: #118BC0;
  margin: .5em .5em .5em .5em;
  padding: .5em;
  color: white;
}

.login-button{
  float: right;
  height: 2em;
  width: 4em;
  margin: 0 0 0 0;
  background-color: #0070A4;
  color: white;
  text-align: center;
  padding: 1em;
  font-size: .75em;

}

.create-button{
  background-color: #1E8CBE;
  width: 10em;
  height: 1em;
  margin: 1em auto 1em auto;
  text-align: center;
  padding: 1em

}


.cw-button{
  color: white;
  font-size: 1.3em;
  margin: 0;
}


.toggle-arrow{
  background-color: white;
  height: 1em;
  width: 2em;
  margin: 10em auto 3.5em auto;

}

.icon-holder{
  background-color: white;
  height: 4em;
  width: 18em;
}

.icon-padder{
  margin: 0 0 0 0;
  height: 3em;
  width: 4em;
  background-color: white;
  padding: .75em 1em 0 0;
}

.icon-held{
  height: 3.25em;
  width: 3.0em;
  background-color: #616E7F;
}

.icon-text{
  float: right;
  height: 3.5em;
  width: 14em;
  margin: 0 .20em 0 0;
}

.grey-divider{
  background-color: #E8F0F5;
  padding: 2em 1em;

}

.grey-words{
  margin: 0;
  color: #314156;
  font-size: 1.5em;
  text-align: center;
}

.lower-backing{
  background-color: #D1D3D7;
  padding: .5em .5em;
}

.feature-boxes{
  background-color: white;
  height: 10em;
  padding: 1em 1em 1em 1em;
  margin: 1em auto 2em auto;
}

.feature-icon{
  display: block;
  height: 4em;
  width: 4em;
  background-color: #C7D2D8;
  margin: 0 auto 0 auto;
}

.feature-name{
  display: block;
  margin: .5em;
  color: #426277;
  background-color: white;
  font-size: 1.25em;
  font-weight: normal;
  text-align: center;
}

.feature-text{
  display: block;
  margin: .5em;
  color: #4B4B4C;
  background-color: white;
  font-size: 1.1em;
  font-weight: normal;
  text-align: center;
}

.black-boot{
  background-color: black;
  padding: 1em;
}

.bottom-text{
  color: white;
  display: block;
  height: 1em;
  margin: .5em auto;
  font-size: 10px;
  text-align: center;

}

.bottom-image{
  background-color: white;
  width: 10em;
  margin: 2em auto .5em auto;
  height: 1.5em;
}
